<div class="modal-container">
  <button class="close-button" mat-icon-button (click)="onCancel()">
    <span class="material-symbols-outlined">close</span>
  </button>

  <h2 mat-dialog-title class="modal-title">{{ data.title }}</h2>

  <mat-dialog-content [formGroup]="modalForm" class="modal-content">
    <div *ngFor="let field of data.fields" class="form-field-container">
      <!-- Si es select, renderiza select -->
      <app-input
        *ngIf="field.type !== 'select'"
        [placeholder]="field.label"
        [type]="field.type || 'text'"
        [name]="field.name"
        [value]="modalForm.get(field.name)?.value || ''"
        [icon]="field.icon || ''"
        (input)="onInputChange(field.name, $event)">
      </app-input>
      <app-input
        *ngIf="field.type === 'select'"
        [placeholder]="field.label"
        [type]="field.type"
        [name]="field.name"
        [value]="modalForm.get(field.name)?.value || ''"
        [icon]="field.icon || ''"
        [options]="field.options || []"
        (input)="onInputChange(field.name, $event)">
      </app-input>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-actions">
    <app-button
      [text]="data.confirmButtonText || 'Aceptar'"
      [buttonType]="'primary'"
      [disabled]="!modalForm.valid"
      (buttonClick)="onConfirm()">
    </app-button>
  </mat-dialog-actions>
</div>
