@use '@angular/material' as mat;

// Existing dialog overrides
@include mat.dialog-overrides((
  container-color: #FFFFFF,
  subhead-color: #72A6BB,
  subhead-size: 48px,
  subhead-weight: 700,
  subhead-font: "Montserrat"
));

// Custom styles for the new test button
.test-button {
  @include mat.button-overrides((
    outlined-outline-color: red,
    outlined-label-text-color: #72A6BB,
    outlined-container-shape: 16px
  ));
}
