<app-loader></app-loader>
<main>

  <nav-bar></nav-bar>

  <div class="clients-button">
    <article class="button">
      <app-button
        [text]="'Añadir cliente'"
        [buttonType]="'secondary'"
        [type]="'button'"
        (click)="openCreateModal()"
      >
        ></app-button>
    </article>
  </div>

  <article class="table-container">
    <div class="table">
      <table-selector
        [columns]="columns"
        [rows]="tableData()"
        [showActions]="true"
        (editRow)="onEdit($event)">
      </table-selector>
    </div>
  </article>

</main>

