@use '../../../styles.scss' as *;

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: $color-azul-claro;
  border-radius: 10px;
  padding: 14px 14px;
  color: $color-gris;
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: 545;
  margin: 0;

  .input-icon {
    margin-right: 10px; // Increased margin for bigger icons
    width: 28px; // Increased from 20px
    height: 28px; // Increased from 20px
    object-fit: contain;
    color: $color-gris;

    &.material-symbols-outlined {
      font-size: 28px; // Increased from 20px
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 28; // Updated to match font-size
    }
  }

  input, select {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 1rem;
    font-weight: 545;
    color: $color-gris;

    &::placeholder {
      color: $color-gris;
      transition: opacity 0.2s ease;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}
