<div class="input-wrapper">
  <!-- Iconos igual que antes -->
  <span *ngIf="icon && isMaterialIcon" class="material-symbols-outlined input-icon">
    {{ icon }}
  </span>
  <img *ngIf="icon && !isMaterialIcon" [src]="iconPath" alt="icono" class="input-icon" />

  <!-- Input normal -->
  <input
    *ngIf="type !== 'select'"
    [type]="type"
    [placeholder]="placeholder"
    [name]="name"
    [value]="value"
    [disabled]="disabled"
    (input)="onInput($event)"
  />

  <!-- Select para listas -->
  <select
    *ngIf="type === 'select'"
    [name]="name"
    [disabled]="disabled"
    (change)="onInput($event)"
    [value]="value"
  >
    <option value="" disabled selected>{{ placeholder }}</option>
    <option *ngFor="let opt of options" [value]="opt.value">{{ opt.label }}</option>
  </select>
</div>
