// src/styles.scss

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'app/components/alert/alert';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}



/* You can add global styles to this file, and also import other style files */

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

// Variables de color
$color-azul: #72A6BB;
$color-azul-claro: #EAF2F5;
$color-gris: #B6B6B6;
$color-blanco: #FFFFFF;
$color-negro: #000000;
